/* E de praste a gente zerar todos os presets do navegador, geralmente os navegadores vem com configuraçoes de margin e padding padronizados que podem fuder o nosso layout */

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* no css a gente seleciona as tags do hmtl ou pelo nome da tag, ou pelo id ou class */
/* Na tag body por exempplo eu troquei a cor de fudno da pagina  */

body
{
    /* Aqui troquei a cor de fundo, alterei todas as fontes do documento para Georgia e modifiquei os espaçoes entre as letras */

    background-color: rgb(221, 214, 214);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: .4px;
    text-align: center;
    background-image: url('assets/weight.png');
}

main
{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

span
{
    color: rgb(255, 0, 0);
}

.alert
{
    color: rgb(255, 251, 5);
}

.alert-ok
{
    color: rgb(77, 255, 77);
}

.alert-ok, .alert, span 
{
    font-size: 102%;
    font-weight: bold;
    text-transform: lowercase;
}

form
{
    display: flex;
    box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.521);
}

.imc > h3
{
    text-align: center;
    margin-bottom: 5%;
}

.container
{   
    /* width é o tamanho da caixa, ai eu usei uma medida flex vw significa view weight */
    width: 90vw;
    background-color: beige;

    border: 1px solid rgba(48, 48, 48, 0.747);
    /* border-radius e a bordar se vai ser quina ou circular */
    border-radius: 8px;
    /* padding é o espaço interno da caixa  */
    padding: 2%;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}


.imc input 
{
    border-radius: 5px;
    padding: 2%;
    outline: none;
    border: 1px solid black;
    color: rgb(31, 63, 168);
    box-shadow: inset 0 0 10px #681f1f;
}

.imc-frame
{
    color: white;
    border: 1px solid black;
    border-radius: 8px;
    background-color: brown;
    padding: 2%;
}
.show 
{
    display: block;
}

#result p 
{
    color: black;
}

.result
{
    display: none !important;
    position: absolute;
    background-color: white;
    padding: 1%;
    max-width: 50%; max-height: 40%;
    width: 100%; height: 100%;
    top: 39%;
    left: 24%;
    border-radius: 8px;
}

.result-content
{
    display: flex;
    font-size: 130%;
}

.result-content-imc
{
    margin-top: 5%;
    font-size: 190%;
    font-weight: bold;
}

.result-content-close:hover
{
    color: red;
}

#res-nome
{
    margin-right: 20%;
}
.imc-frame div
{
    /* margin é a mesma coisa que o padding so q externo */
    margin-bottom: 2%;
}

.kg
{
    color: rgb(4, 255, 117);
    font-weight: bold;
    font-size: 102%;
    text-decoration: dotted;
}

/* Aqui esto configurando o botao do submit  */
.imc-btn
{
    margin-top: 10%;
    margin-bottom: 3%;
    color: white !important;
    border: none !important;
    padding: 5% !important;
    border-radius: 12px !important;
    background-color: rgb(233, 35, 35);
    transition: all ease .3s;
    box-shadow: 12px 15px 15px rgba(80, 6, 6, 0.603);;
}

/* eu quero que quando o mouse passe em cima desse botao ele mude seu comportamento */
/* agora a selecao vai ser um pouco diferente, vamos usar o : para escolher o tipo de evento */
/* hover seria mouse over, ou seja quando o cursor do mouse estiver em cima do botao ou da tag que eu escolhi oque eu coloquei la dentro vai acontecer */
.imc-btn:hover
{
    /* transform: scale(1.001); */
    color: rgb(255, 255, 255);
    background-color: rgb(31, 63, 168);
    font-weight: bold;
    letter-spacing: .4px;
    outline: none;
    border-radius: 8px;
}

.img-calc
{
    margin-top: 5%;
}

.imc-table
{
    padding: 6%;
    text-align: initial;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.99px;
    color: rgb(255, 255, 255);
    font-size: 19px;
    background-color: rgb(31, 63, 168);
    border-radius: 9px;
}

.close
{
    display: none !important;
}

.show
{
    display: block !important; 
}